.nrel-header {
  ul.menu,
  ul.sub-menu {
    display: flex;
    justify-content: flex-start;

    > li.menu-item {
      list-style-type: none;
      flex: initial;
      position: relative;

      > * {
        display: inline-block;
      }

      .submenu-chevron > svg {
        width: 10px;
        height: 10px;
        margin-left: 5px;
        transform: rotate(270deg);
        position: relative;
        top: 1px;
        transition: transform 0.2s;
      }

      > ul.sub-menu {
        display: none;
        justify-content: flex-start;
        flex-direction: column;
        position: absolute;
        width: 100%;

        > li.menu-item {
          list-style-type: none;

          // We're not currently using them, but this enables arbitrarily nested menus
          > ul.sub-menu {
            top: 0;
            left: 100%;
          }
        }
      }

      &:hover {
        .submenu-chevron > svg {
          transform: rotate(90deg);
        }
      }

      &:hover > ul.sub-menu {
        display: flex;
      }
    }

    > li.menu-spacer {
      flex-grow: 1;
      max-width: 100%;
      flex-basis: 0;
    }

    // hide mobile menu if not in mobile view
    .menu-bar {
      display: none;
    }
  }

  // MOBILE MENU
  @media (max-width: 767px) {
    ul.menu {
      > li.menu-item.show {
        height: 192px;

        .sub-menu {
          display: block;
        }

        .submenu-chevron > svg {
          transform: rotate(270deg);
        }
      }
    }

    .menu-bar {
      width: 100%;
      background-color: #5e6a71;
      height: 44px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;

      > p {
        color: #fff;
      }

      #header-burger-btn {
        width: 30px;
        height: 30px;
        margin: 0 10px 0 20px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        cursor: pointer;
        z-index: 1;
        position: relative;
        top: 3px;
      }

      #header-burger-btn span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: #fff;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
      }

      .header-burger-line-1 {
        top: 3px;
      }

      .header-burger-line-2 {
        top: 16px;
      }

      #header-burger-btn:hover {
        .header-burger-line-1 {
          top: 2px;
        }

        .header-burger-line-2 {
          top: 17px;
        }
      }

      #header-burger-btn.open > .header-burger-line-1 {
        top: 13px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg) translate(-5px, -3px);
      }

      #header-burger-btn.open > .header-burger-line-2 {
        top: 13px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg) translate(-3px, 5px);
      }
    }
  }
}